# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Virtual environment folders
.venv/
env/
venv/
ENV/
.env

#Node and React
node_modules/
build/
.env
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# AWS Lambda deployment packages (zipped folders)
lambdas/
*_deploy/
*.zip

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python env vars / secrets files
.env
.env.*

# macOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Misc
*.swp
*~

# AWS SAM + Lambda
*.zip
.aws-sam/
.sam/
samconfig.toml

# VS Code
.vscode/

# OS
Thumbs.db

